<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ question.title }}</title>
</head>
<body>
<div>
    <h1>{{ question.title }}</h1>
    <div>
        <h2>{{ question.text }}</h2>
        <p>Добавлен: {{ question.added_at }}</p>
        <p>Рейтинг: {{ question.rating }}</p>
        <p>Автор: {{ question.author }}</p>
        <p>Поставили класс: {{ question.likes }}</p>
    </div>
    <div>
        {% for a in answers %}
            <hr>
            <p>{{ a.text }}</p>
            <p>Добавлен: {{ a.added_at }}</p>
            <p>Автор: {{ a.author }}</p>
        {% endfor %}
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>
</body>
</html>